<!-- Toggleable sidebar -->
<div class="menu" id="menu">
  <nav class="menu-nav">
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="menu-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  <a class="menu-nav-item" href="{{ site.portfolio }}">Portfolio</a>
  <a class="menu-nav-item" href="{{ site.twitter }}">Twitter</a>
  </nav>
</div>
